<html>
<head>
  <title>Example Sinatra App</title>
</head>
<body>
  <h1 align='center'>This is an example app.</h1><br />
  <p>ENV['TOKEN']: <%= ENV['TOKEN'] %></p>
  <img src="/img/doge.png" />
</body>
</html>
